<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — Linux User Group Witzenhausen</title>
<body>
  <header>
    <h1>Linux User Group Witzenhausen</h1>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}"><img src="willkommen.png" alt="Willkommen"></a></li>
        {% for href, title in [
          ['/blog', 'blog.png'],
          ['/about', 'about.png']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}"><img src="{{ title }}"></a></li>
        {% endfor %}
        <li>&nbsp<a href="https://lug-wiz.zulipchat.com/login/"><img src="zulip.png" alt="Teamchat"></a></li>
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
    
  <footer>
    <img src="keyboard-cut.jpeg" alt="Keyboard"> 
    <br><br>
    <p style="text-align: right;">
      <a href="{{ '/impressum'|url }}">Impressum</a> &nbsp &nbsp
      Erstellt mit <a href="https://www.getlektor.com/"><img src="lektor.jpg"></a></p>
  </footer>
</body>
