<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — Linux User Group Witzenhausen</title>
<body>
  <header>
    <h1>Linux User Group Witzenhausen</h1>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Willkommen</a></li>
        {% for href, title in [
          ['/blog', 'Blog'],
          ['/guestbook', 'Gästebuch'],
          ['/about', 'Über uns']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2018 by Marco Heins.
  </footer>
</body>
